meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Negocios verdes, oportunidades y tendencias del mercado.
meta(meta name="description" content="Los Negocios verdes se han convertido en un tópico con gran relevancia a nivel mundial, razón por la cual, los países continúan enfocando sus esfuerzos en desarrollar productos y servicios sostenibles que generen aportes significativos a la conservación del medio ambiente.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")