h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'DOFA dirigido a Negocios verdes', 'main.html#page/DOFA_dirigido_a_Negocios_verdes/')
                    +navTemaItem('2', 'Consumidor ecológico', 'main.html#page/Consumidor_ecologico/')
                    +navTemaItem('3', 'Creación de valor compartido', 'main.html#page/Creacion_de_valor_compartido/')
                    +navTemaItem('4', 'Comercio Justo', 'main.html#page/Comercio_Justo/')
                    +navTemaItem('5', 'Compras Públicas Sostenibles', 'main.html#page/Compras_Publicas_Sostenibles/')
                    +navTemaItem('6', 'Tendencias del mercado', 'main.html#page/Tendencias_del_mercado/')
                    +navTemaItem('7', 'Emprendimiento en Negocios verdes', 'main.html#page/Emprendimiento_en_Negocios_verdes/')
                    +navTemaItem('8', 'Sistema de producción orgánico, biológico y ecológico', 'main.html#page/Sistema_de_produccion_organico_biologico_y_ecologico/')
                    +navTemaItem('9', 'Biodiversidad en Colombia', 'main.html#page/Biodiversidad_en_Colombia/')                                        