.container
    .header-ecored
        h1 1. DOFA dirigido a Negocios verdes  
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img2.jpg", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-6
                .jumbotron.caja-head
                    p El análisis DOFA es considerado uno de los métodos más utilizados por las empresas para la realización de diagnósticos y toma de decisiones. Este análisis permite identificar las Debilidades, Oportunidades, Fortalezas y Amenazas del ambiente interno y externo de la organización, que giran en torno al problema que se quiere solucionar. 
        p.mt-5 Para la realización de este análisis es necesario contar con lo siguiente:
        img.img-a(src="assets/images/pages/ilustraciones/img3.svg", alt="").img-fluid 
        .sub-ecored#11.mt-5
            h2 1.1. Objetivo
        p.mt-5 El principal objetivo de la realización del análisis es maximizar las fortalezas con que cuenta la organización y minimizar sus debilidades, para así aprovechar las oportunidades y al mismo tiempo superar las amenazas del entorno.
        .sub-ecored#12.mt-5
            h2 1.2. Ventajas y desventajas
        p.mt-5 Dentro de las ventajas que tiene este modelo de análisis es que puede ser elaborado por cualquier miembro de la organización y en cualquier unidad estratégica de negocio y es un método rentable para la organización. En cuanto a las desventajas que presenta es que es un método simple y su resultado no es lo suficientemente crítico, por lo cual requiere de un método adicional que complemente sus resultados.       
        .sub-ecored#13.mt-5
            h2 1.3. Elaboración
        p.mt-5 Para la correcta aplicación del método, es necesario analizar el entorno en el cual se encuentran las compañías, entendiendo como entorno, a todas y cada una de las variables que intervienen directa o indirectamente en la misma, con el in de generar estrategias alternativas. Este análisis organizacional se debe realizar teniendo en cuenta lo siguiente: 
        .row.justify-content-center.align-items-center
            .col-10        
                .jumbotron.color-1
                    ul.ul2
                        li
                            p Diagnóstico externo: analiza las oportunidades y amenazas del macroentorno.
                        li  
                            p Diagnóstico interno: analiza las fortalezas y debilidades del microentorno.        
        p.mt-5 En la figura que se muestra a continuación se observa la disposición de la información dentro de la matriz y los aspectos generales que cada uno analiza.
        img.img-a(src="assets/images/pages/ilustraciones/img4.svg", alt="").img-fluid 
        .sub-ecored#14.mt-5
            h2 1.4. Ejemplo DOFA enfocado a Negocios verdes  
        p.mt-5 A continuación se presenta un ejemplo de matriz DOFA aplicada a los Negocios verdes,  propuesto por Cristina Sancha, PhD i directora académica del Área de Sistemas y Operaciones de OBS Business School.
        .jumbotron.mt-5.color-2
            .row.justify-content-center.align-items-center
                .col-3 
                    img.img-a(src="assets/images/pages/ilustraciones/img5.svg", alt="").img-fluid
                .col-9 
                    h3 Debilidades
                    ul.ul2
                        li
                            p #[strong Rediseño de productos.] Los productos deben ser diseñados y programados para su reutilización en todos sus componentes desde el inicio. Por lo tanto, este cambio de paradigma es aplicable a nuevos productos que se diseñen con esta idea, pero más difícil de implementar en productos ya existentes. 
                        li
                            p #[strong Costes de entrada.] Los costes de administrar todo el ciclo de vida del producto pueden resultar demasiado altos para pequeñas y medianas empresas, así como para emprendedores.
                        li
                            p #[strong Incremento de la complejidad.] El principio de reutilización de productos o componentes permitiría vincular diferentes cadenas de suministro. Es decir, los residuos o componentes de una industria pueden servir de recursos o materias primas de otras. Esto genera una red compleja de interdependencias que aumenta el riesgo de vulnerabilidades. La interrupción en una cadena se traspasa a la que está directamente vinculada.
        .jumbotron.mt-5.color-3
            .row.justify-content-center.align-items-center
                .col-3 
                    img.img-a(src="assets/images/pages/ilustraciones/img6.svg", alt="").img-fluid
                .col-9
                    h3 Oportunidades
                    ul.ul2
                        li
                            p #[strong Marco normativo y de referencia.] Colombia ya cuenta con una hoja de ruta sobre Negocios verdes. 
                        li
                            p #[strong Ámbito de aplicación.] La economía circular es aplicable a todos los sectores y actividades productivas actuales (por ejemplo, producción, construcción, innovación, movilidad o gestión del agua). 
                        li
                            p #[strong Mercado laboral.] Se ha remarcado el rol de la economía verde en la generación de nuevos puestos de trabajo en sectores relacionados con el medioambiente o en la mejora de procesos ambientales. 
                             
        .jumbotron.mt-5.color-4
            .row.justify-content-center.align-items-center
                .col-3 
                    img.img-a(src="assets/images/pages/ilustraciones/img7.svg", alt="").img-fluid
                .col-9
                    h3 Fortalezas 
                    ul.ul2
                        li
                            p #[strong Gestión de recursos.] Permite la reducción del consumo (y desperdicio) de recursos en procesos de producción. La economía verde y circular permite una mejor gestión de recursos naturales, evitando así su agotamiento. 
                        li
                            p #[strong Uso de materiales y eliminación de residuos.] La economía verde y circular permite una mejor utilización y optimización, tanto de los materiales como de los residuos. Por un lado, permite una segunda vida de los diferentes productos o componentes, alargando así su vida útil. Por otro lado, garantiza una adecuada eliminación de residuos, evitando toxicidades. 
                        li
                            p #[strong Consumo de energía.] La economía circular tiene como objetivo limitar el consumo de energía, favoreciendo así el impacto en el medioambiente.

        .jumbotron.mt-5.color-5
            .row.justify-content-center.align-items-center
                .col-3 
                    img.img-a(src="assets/images/pages/ilustraciones/img8.svg", alt="").img-fluid
                .col-9
                    h3 Amenazas
                    ul.ul2
                        li
                            p #[strong Falta de armonización de estándares.] Actualmente, debido a la novedad del concepto, existe una falta de definición de estándares para garantizar un desarrollo de las estrategias de economía circular. Esto es clave para homogeneizar las acciones y mediciones en el avance de la economía circular para todo tipo de industrias. 
                        li
                            p #[strong Cambio de mentalidad.] La ausencia de una conciencia medioambiental en los diferentes entes de nuestro sistema frena la implementación y extensión del concepto de economía circular. Por ejemplo, que los productos sean remanufacturados puede ser signo de peor calidad para algunos consumidores. 
                        li
                            p #[strong Periodo de transición.] El cambio de mentalidad de un modelo lineal a uno circular desencadenará en fricciones entre aquellos actores que se sientan amenazados por la desaparición del modelo lineal y/o entre aquellos que carezcan de la base de conocimientos necesarios para entender el modelo de economía circular.
        img.img-a(src="assets/images/pages/ilustraciones/img9.svg", alt="").img-fluid
        section.mt-5