.container
    .header-ecored
        h1 3. Creación de valor compartido
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img13.jpg", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-6
                .jumbotron.caja-head
                    p En la actualidad, algunas empresas no son consideradas como una oportunidad para la sociedad, por el contrario, se han catalogado como amenazas por los diferentes impactos ambientales y sociales que sus actividades económicas producen al entorno en el cual se encuentran. 
        p.mt-5 Es muy común escuchar “el petróleo y la minería son el cáncer del medio ambiente” y aunque sus actividades si producen impactos negativos al mismo, las empresas se han enfocado en la creación de estrategias para mitigar el impacto y crear valor compartido. Pero ¿qué es el valor compartido?  Porter y Kramer (2011) lo definen como “las políticas y prácticas operacionales que mejoran la competitividad de una empresa, a la vez que ayudan a mejorar las condiciones económicas y sociales de las comunidades donde opera. La creación de valor compartido se enfoca en identificar y expandir las conexiones entre los progresos económico y social. El concepto de valor compartido reconoce que las necesidades sociales, y no solo las necesidades económicas convencionales, son las que definen los mercados”. (Porter & Kramer, 2011)
        p Para crear valor compartido Porter y Kramer (2011) señalan que hay tres formas distintas de proporcionar simultáneamente valor para la empresa y valor para la sociedad, que se complementan, construyendo un círculo positivo.  Estas tres formas complementarias son: 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.svg", alt="").img-fluid 
        h1.mt-5.color-green Nuevos mercados y productos.
        p.mt-5 Se hace un llamado a las empresas para que logren innovar y rediseñar sus productos o métodos de distribución, para descubrir nuevas oportunidades para diferenciarse de la competencia.
        h1.mt-5.color-green Redefiniendo la productividad en la cadena de valor. 
        p.mt-5 Maximizar la creación de valor mientras se minimizan los costos. De lo que se trata es de crear valor para la empresa cliente, lo que se traduce en un margen entre lo que se acepta pagar y los costos incurridos por adquirir la oferta. 
        h1.mt-5.color-green Creando grupos locales de apoyo a la empresa, lo que también se conoce con la palabra clúster.
        p.mt-5  Un clúster es una concentración geográfica de empresas, proveedores especializados, instituciones como universidades y asociaciones de empresarios interconectados. Empresas que compiten pero que también colaboran entre ellas y crean una masa crítica que facilita la competitividad de cada una de las organizaciones que forman parte del clúster 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img15.svg", alt="").img-fluid 
        p.mt-5 Cada una de estas tres vías forma parte del círculo virtuoso de valor compartido; al aportar cada una de ellas valor en un área determinada, facilita el surgimiento de nuevas oportunidades en las otras áreas. 
        p Finalmente, la habilidad del directivo de la empresa para crear valor compartido es aplicable tanto a las economías avanzadas como a los países en desarrollo, aunque las oportunidades específicas y los modelos de negocio diferirán. Las oportunidades van a ser distintas para cada industria y para cada empresa, pero cada empresa tiene posibilidades.         
        section.mt-5