.container
    .header-ecored
        h1 7. Emprendimiento en Negocios verdes
    .jumbotron.bg-white   
        img.img-a(src="assets/images/pages/ilustraciones/img56.jpg", alt="").img-fluid 
        .row.justify-content-center.align-items-center
            .col-6
                .jumbotron.caja-head
                    p Colombia ha desarrollado el Plan Nacional de Producción y Consumo Sostenible, el cual contempla siete (7) ejes estratégicos para lograr cambios en los patrones de producción y consumo hacia la sostenibilidad. Dentro de esos ejes estratégicos se contempla el principio siete (7), emprendimiento en Negocios verdes.
        p.mt-5 El emprendimiento en Negocios verdes consiste en el desarrollo de bienes y servicios con calidades ambientales, que permiten el aprovechamiento de recursos naturales de manera sostenible. 
        p Asimismo, la estrategia de emprendimiento de Negocios verdes  se dirige prioritariamente hacia la promoción de empresas que incorporen temas como uso eficiente de energía, adaptación al cambio climático, manejo de residuos, tecnologías más limpias, materiales de construcción sostenibles, uso sostenible de la biodiversidad, biotecnología y agroindustria. 
        p El desarrollo de estos bienes y servicios requieren de un estudio de mercado en el cual se establezcan los gustos y necesidades por parte de los clientes o consumidores disponibles, al igual que el desarrollo de sus características, usos, precios, distribución y promoción. 
        p En consecuencia, en los Negocios verdes, al igual que en cualquier otro tipo de negocios, es necesario contar con los conocimientos básicos de mercadeo, y en este caso, del mercadeo o marketing verde.
        .sub-ecored#71.mt-5
            h2 7.1. Marketing verde
        p.mt-5 La American Marketing Association (2014) define el marketing verde como la comercialización de productos que presumen ser ambientalmente seguros para el medio ambiente y para su público meta. Este incluye diversas actividades, tales como reducción de residuos, cambios en el producto desde su desarrollo hasta su embalaje y modificaciones en su mezcla de comunicación.
        p El pilar del marketing tradicional, al igual que el verde, es enfocarse en la presentación de los beneficios a los clientes. Asimismo, crear una mayor conciencia por parte de los clientes acerca de los productos que compran o consumen y que estos sean preferidos sobre sus competidores “no verdes”.
        p Grant (2007) destaca cinco (5) puntos claves a tener en cuenta para llevar a cabo de manera adecuada prácticas de marketing verde, a saber: 
        img.img-a(src="assets/images/pages/ilustraciones/img82.svg", alt="").img-fluid 
        .sub-ecored#72.mt-5
            h2 7.2. Mezcla del marketing verde 
        p.mt-5 La mezcla o mix de mercadeo verde se deriva del marketing tradicional, en el cual se establecen las 4P (Precio, Producto, Plaza y Promoción) para las empresas, las cuales se adaptan según su perfil y preferencias. Esta mezcla de mercadeo es crucial para el futuro desempeño de las empresas, y para el caso de los Negocios verdes, se realizan los ajustes para lograr un enfoque más ecológico. 
        p Para iniciar, se definirán cada una de las P’s en el marketing tradicional, para tener un concepto más amplio de los mismos y posteriormente plasmarlo en el marketing verde.
        .header-arrow.my-5.py-4
            h3.text-center Mezcla de marketing tradicional   
        .row.justify-content-center.my-5 
            .col-11.col-md-9
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img57.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Producto:
                                p en esta variable se establecen las necesidades que se desean satisfacer en el consumidor y los servicios necesarios para el disfrute del producto. Asimismo, se establecen los atributos, usos y su valor agregado.
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img58.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Precio: 
                                p se refiere a la cantidad de dinero que el cliente debe pagar por adquirir los productos. La definición de precios se establece por diferentes estrategias, dependiendo de cada empresa y le permite ser más competitivos en el sector en el que se desempeñe. 
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img59.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Promoción: 
                                p son todas las actividades que comunican los méritos del producto y ayudan a persuadir a los clientes meta. En esta variable se contemplan los elementos publicitarios a utilizar.
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img60.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Plaza: 
                                p son las actividades que realiza la empresa, encaminadas a que el producto se encuentre disponible para los clientes meta. En esta variable se establecen los canales de distribución a utilizar.     
        .header-arrow.my-5.py-4
            h3.text-center Mezcla de marketing verde
        p.mt-5 De acuerdo con Marcet, Marcet, & Vergés (2018), la mezcla de marketing verde se define con las siguientes características: 
        .row.justify-content-center.my-5
            .col-11.col-md-9
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img61.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Producto verde: 
                                p responde a necesidades y requerimientos ambientales y de salud. Una vez que las necesidades del cliente son consideradas claves para mejorar, se desarrollan nuevos productos, con caracterización de productos ambientalmente sostenibles y seguros. 
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img62.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Precio verde: 
                                p se refiere al precio especificado a la luz de las políticas de la empresa, con respecto a las consideraciones ambientales impuestas por las normas e instrucciones de la empresa, o de sus iniciativas ecológicas.        
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img63.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Promoción verde: 
                                p se refiere al suministro de información real acerca de los productos, de una manera que no perjudique los intereses de los consumidores.       
            .col-11.col-md-9.top1
                .card-media.text-card-1
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img64.svg").img-fluid
                        p.card__copy                   
                            span 
                                h3 Plaza verde: 
                                p se refiere a la distribución de productos ecológicos que son adecuados para los consumidores, en términos de facilitar la entrega y garantizar procedimientos de reciclaje, que se realizan dentro de las condiciones y requisitos ambientales.       
        section.mt-5