.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Fairtrade International (s.f.) Las marcas de comercio justo.
                    td Sitio web  
                    td 
                        a(href="https://www.fairtrade.net/about/fairtrade-marks", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver   
                tr
                    td Ministerio de Ambiente y Desarrollo Sostenible (2017). Compras Públicas Sostenibles Guía Conceptual y Metodológica.
                    td Guía Conceptual y Metodológica Compras Públicas Sostenibles 
                    td 
                        a(href="media/documentos/Guia_Conceptual_y_Metodologica_Compras_Publicas_Sostenibles_1.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar