include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aguirre García, M. S., Gonzalez de Durana, C., Charterina Abando , J., & Vicente Molina, A. (2003). El consumidor ecológico.", "https://www.researchgate.net/publication/28061197_El_consumidor_ecologico")
        +referenciaItem("Connect Americas . (2020). Connect Americas.", "https://connectamericas.com/es/content/%C2%BFqu%C3%A9-es-la-certificaci%C3%B3n-de-comercio-justo-y-c%C3%B3mo-funciona")
        +referenciaItem("FAIRTRADE INTERNATIONAL. (s.f.). Las marcas de comercio justo.", "https://www.fairtrade.net/about/fairtrade-marks")
        +referenciaItem("Farah, A. Z. (2018). ONU.", "https://news.un.org/es/interview/2018/12/1447801")
        +referenciaItem("Grant, J. (2007). The Green Marketing Manifiesto.")
        +referenciaItem("Marcet, X., Marcet, M., & Vergés, F. (2018). Papeles del Pacto Industrial, número 4.", "www.pacteindustrial.org")
        +referenciaItem("Martinez Turrubiates, A., & Prieto, F. (2016). Consumidor ecogológico.")
        +referenciaItem("Ministerio de Ambiente y Desarrollo Sostenible. (2015). Plan de Acción Nacional de Compras Públicas Sostenibles 2016 - 2020.")
        +referenciaItem("ONU Medio Ambiente. (2018). ONU.", "https://news.un.org/es/interview/2018/12/1447801")
        +referenciaItem("Porter, M., & Kramer, M. (2011). Estrategia y Sociedad.")
        +referenciaItem("Proargentina . (2005). Productos Orgánicos. EL Cid Editor.")
        +referenciaItem("Sancha, C. (2018). Mundo Empresarial.", "https://www.monempresarial.com/es/2018/06/18/economia-verde-y-circular-dafo/")
        +referenciaItem("Ventura. (s.f.). Serie 'Qué ver'.", "https://vaventura.com/que-ver/")
        +referenciaItem("Vidal, I. (2011). El principio de valor compartido de Porter y Kramer. CIES Centro de Investigación de Economía y Sociedad.")
        +referenciaItem("WFTO-LA. (2020). World Fair Trade Organization Latin America.", "http://www.wfto-la.org/comerciojusto/")
        


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            